*{
    font-family: sans-serif;
    text-align: center;
    background-color: #151515;
    box-sizing: border-box;
}

h1{
    color: white;
    border-bottom: 2px solid blueviolet;
    padding-bottom: 8px;
    margin-top: 350px;
    max-width: fit-content;
    text-align: center;
    display: inline-block;
}

#navMenu{
    list-style-type: none;
}

.navItem{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin: 8px 8px;
    border: 2px solid blueviolet;
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    background-color: white;
    color: blueviolet;
    
}

.navItem:hover{
    background-color: blueviolet;
    color: white;
}

